@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400');

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 680px) {
  .quote-container {
    width: 55%;
    font-size: 3vw;
  }
}
@media screen and (max-width: 680px) {
  .quote-container {
    width: 85%;
    font-size: 7vw;
  }
}

.quote-container > button {
  width: 100%;

  font-size: inherit;
  font-family: inherit;
  font-weight: 100;

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;

  outline: none;
  background-color: #000;
  color: #fff;
}

.quote-container > button:active {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.quote-container > .button-disabled {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: not-allowed;
}
